<div class="container">
  <div class="cv_layout">
    <div class="cv_title">
      <span class="name">Ravan Ismayilov</span>
      <span class="profession">Front-End Developer</span>


      <div class="name-info">
        <span>Email: rvanismayilov70gmail.com</span>
        <span>Number: +994-XX-XX-XX-XX</span>
      </div>
    </div>


    <div class="section_begin">
      <div class="about">
        <h2 class="about-title">ABOUT ME</h2>
        <p class="aboutme">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ab corporis, quos dolorem assumenda aspernatur impedit porro voluptatum explicabo autem est, necessitatibus sequi. Laborum sit ad excepturi labore itaque odio numquam, animi, iusto temporibus accusantium quibusdam error doloremque quas, ut explicabo nulla ex distinctio incidunt asperiores quis iste! Eveniet, quia!</p>
      </div>

      <div class="education">
        <h2 class="education-title">EDUCATION</h2>
        <div class="education-item">
          <h3>Bachelor of Arts</h3>
          <p>Azerbaijan Oil and Industry University</p>
          <div class="education-years">2018-2019</div>
        </div>
        <div class="education-item">
          <h3>Bachelor of Arts</h3>
          <p>Azerbaijan Oil and Industry University</p>
          <div class="education-years">2018-2019</div>
        </div>
      </div>
    </div>


    <div class="section_mid">
      <div class="skills_education">
        <div class="skills_title">SKILLS</div>
        <div class="skill_grname">
          <div class="skills">

            <div class="skill">
              <span>Leadership</span>
              <span></span>
            </div>

            <div class="skill">
              <span>Сommunication</span>
              <span></span>
            </div>

            <div class="skill">
              <span>Teamwork</span>
              <span></span>
            </div>
            
            <div class="skill">
              <span>Discipline</span>
              <span></span>
            </div>
            
            <div class="skill">
              <span>Critical Thinking</span>
              <span></span>
            </div>
          </div>

          <div class="skill_grade">
            <input type="range" min="0" max="100">
            <input type="range" min="0" max="100">
            <input type="range" min="0" max="100">
            <input type="range" min="0" max="100">
            <input type="range" min="0" max="100">
          </div>
      </div>
  </div>


  <div class="education">
    <h2 class="education-title">EXPERIENCE</h2>
    <div class="education-item">
      <h3>Web Developer</h3>
      <p>Lorem ipsum, dolor sit amet consectetur.</p>
      <div class="education-years">2020-2021</div>
    </div>
    <div class="education-item">
      <h3>Angular Developer</h3>
      <p>Lorem ipsum, dolor sit amet consectetur</p>
      <div class="education-years">2021-2022</div>
    </div>
  </div>
</div>

  
<div class="section_lgs">
  <div class="languages_title">LANGUAGES</div>
  <div class="language_grname">

    <div class="languages">
      <div class="lng">
        <span>Azerbaijan</span>
        <span></span>
      </div>

      <div class="lng">
        <span>English</span>
        <span></span>
      </div>
      
      <div class="lng">
        <span>Turkish</span>
        <span></span>
      </div>
      
      <div class="lng">
        <span>Russian</span>
        <span></span>
      </div>
    </div>

    <div class="lng_grade">
      <input type="range" min="0" max="100">
      <input type="range" min="0" max="100">
      <input type="range" min="0" max="100">
      <input type="range" min="0" max="100">
    </div>
  </div>
  </div>
  </div>
</div>

